<!DOCTYPE html>
<html>
  <head>
    <title>BLOG</title>
    <link href="blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
<h1 class="header">Flex box tryouts</h1>
<p class="sale">SALE</p>
<div class="section-1">
  
  <img  src="./img/challenges.jpg" height="250" width="250"/>
  
  <div class="section-2">

    <div class="item-1">
      <p>component 1</p>
      <p>component 2</p>
    </div>

    <p class="item-2">copy text...</p>

    <a href="#">information &RightArrow;</a>

    <div class="item-3">
      <div class="el-1"></div>
      <div class="el-2"></div>
      <div class="el-3"></div>
      <div class="el-4"></div>
      <div class="el-5"></div>
      <div class="el-6"></div>
    </div>
  </div>


  <div>
    <h2>product head</h2>
    <ul>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ul>
  </div>
</div>
    </div>
  </body>
</html>
