<!DOCTYPE html>
<html>

<head>
    <title>BLOG</title>
    <link href="challenge.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1 class="heading"> CSS GRID TRYOUTS</h1>

        <div class="item-container">
            <img src="./img/challenges.jpg" height="250" width="250"/>

            <div class="product-details">
                <h2>$65</h2>
                <p>FREE SHIPPING</p>
            
                <p class="product-span">Poster Description</p>
                <a href="#" class="product-span">More Information &rightarrow;</a>

                <div class="colors">
                    <div class="color-1">1 </div>
                    <div class="color-2">2</div>
                    <div class="color-3">3</div>
                    <div class="color-4">4</div>
                    <div class="color-5">5</div>
                    <div class="color-6">6</div>
                </div>
            </div>

            <div class="poster-details">
                <h2 class="poster-detail">Poster Details</h2>
                <ul>
                    <li>point 1</li>
                    <li>point 2</li>
                    <li>point 3</li>
                </ul>

            </div>
        </div>
    </div>
</body>

</html>